{form postForm class => "form-group"}
    {label title/}
    {input title class => "form-control"}
    {label category/}
    {input category class => "form-control"}
    {label body/}
    {input body class => "form-control"}
    {label disable_comments/}
    {input disable_comments class => "form-control"}<br>
    {input send class => "btn btn-primary"}
{/}