{form passwordChangeForm class => "form-group"}
    {label old_password/}
    {input old_password class => "form-control"}
    {label new_password/}
    {input new_password class => "form-control"}
    {label new_password_verify/}
    {input new_password_verify class => "form-control"}
    {input send class => "btn btn-primary"}
{/}