{form registerForm class => "form-group"}
    {label username/}
    {input username class => "form-control"}
    {label role/}
    {input role class => "form-control"}
    {label password/}
    {input password class => "form-control"}
    {label password_verify/}
    {input password_verify class => "form-control"}
    {input send class => "btn btn-primary"}
{/}