{form loginForm class => "form-group"}
    {label username/}
    {input username class => "form-control"}
    {label password/}
    {input password class => "form-control"}
    {input send class => "btn btn-primary"}
{/}